# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.spv

# Executables
*.exe
*.out
*.app

# Builds
build/
release/
.vscode/ipch
/cmake-build-debug/
/cmake-build-debug-cl/
/cmake-build-debug-clang/
/cmake-build-release-clang/
bin/

## Exceptions for 3d obj files
!assets/*.obj
!assets/**/*.obj